<div class="card border-secondary text-dark" style="width: 18rem;">
  <img src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.text }}</p>
    <div class="d-flex justify-content-between" *ngIf="post.id">
      <button type="button" class="btn btn-dark" routerLink="edit/{{post.id}}">
        Editar post
      </button>
      <button type="button" class="btn btn-dark" routerLink="delete/{{post.id}}">
        Deletar post
      </button>
    </div>
  </div>
</div>
